<!--<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
  <div>
      <md-button ui-sref="bookmark">Bookmarks</md-button>
      <md-button ui-sref="dashboard">Dashboard</md-button>
  </div>
</div>-->

  <md-toolbar>
    <div class="md-toolbar-tools">
      <!--<md-button aria-label="Go Back">
        Go Back
      </md-button>-->
      <h2>
        <span>BetterBookMarker</span>
      </h2>
      <span flex=""></span>
      <md-button ui-sref="dashboard" class="md-raised" aria-label="Dashboard">Dashboard</md-button>
      <md-button ui-sref="bookmark.list" class="md-raised" aria-label="Bookmarks">Bookmarks</md-button>
      <md-button ng-click="vm.logout()">
             Logout
           </md-button>
    </div>
  </md-toolbar>